.auth-overlay {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.login-box input {
  min-width: 320px;
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.4);
}

.login-box .actions {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}

.login-box button {
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.4);
}

.tank-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tank-list div {
  padding: 20px 32px;
  background: #F6DCAC;
  border-radius: 8px;
  font-size: 1.25rem;
  transition: 200ms;
  cursor: pointer;
  border: 2px solid #FEAE6F;

  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.4);
}

.tank-list div:hover {
  transform: translate(-2px, -2px);
}