#board.show{
  display: block;
}

.board-content {
  background-color: #000000cc;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 72%;
  height: 60%;
}
.object-list {
  padding: 12px;
  height: 100%;
  overflow-y: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-height: calc(100% - 60px);
}
.object-list__item {
  display: flex;
  gap: 16px;
  padding: 20px;
  background-color: white;
  cursor: pointer;
}
.object-list__item div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.object-list__item .avatar {
  width: 64px;
  height: 64px;
}

.object-list__item .output {
  width: 100%;
  height: 100%;
}
.object-list__item.selected {
  background-color: darkgreen;
  color: white;
}
.board-control {
  display: flex;
  gap: 20px;
  padding: 8px 12px;
  margin-bottom: 12px;
}
.board-control :last-child {
  margin-left: auto;
  display: none;
}
.board-control.selected :last-child {
  display: block;
}