.bottom-area {
  display: flex;
  width: 100%;
  gap: 40px
}

.control {
  flex: 1;
  height: 300px;
  padding: 30px;
  background: burlywood;

  display: flex;
  gap: 40px;
}

.control-select {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: space-between;
  justify-content: space-around;
}
.control-select .btn {
  min-width: 160px;
  text-align: center;
}
.control-body {
  flex: 1;
  overflow: hidden;
}
.control-body--inner {
  transition: 200ms;
}
.control-section {
  height: 240px;
}

.target-object {
  width: 500px;
  padding: 5 / 3;
  display: flex;
  padding: 30px;
  gap: 40px;
}

.target-zoom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.target-zoom > div {
  width: 110px;
  height: 110px;
}
.target-zoom > div canvas {
  width: 100%;
}
.target-info {
  flex: 1;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.target-info p {
  font-size: 1rem;
}
.target-info li {
  font-size: 1rem;
}

.target-control {
  margin-top: auto;
  display: flex;
}