:root {
  --layoutGap: 24px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.game {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 20px
}
.game-area {
  display: flex;
  gap: var(--layoutGap);
  height: fit-content;
}
.control-area {
  display: flex;
  flex-direction: column;
  gap: var(--layoutGap);
  position: relative;
}
.flower-seed {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  padding: 30px;
}
.player-info {
  display: flex;
  height: 98px;
  padding: 12px;
  background-color: burlywood;
  align-items: center;
  gap: var(--layoutGap);
}
#sketch-holder {
  position: relative;
  width: fit-content;
}
.main-canvas__wrapper {
  width: 100%;
  max-width: 960px;
  aspect-ratio: 1 / 1;
  
}
#main-canvas {

}
.flower-seed .header {
  padding: 8px 12px;
  margin: 0 auto 12px;
  font-size: 0.925rem;
}
.target-object {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: burlywood;
}
.target-zoom {
  display: flex;
  justify-content: space-between;
}

.target-zoom canvas {
  display: flex;
  width: 120px;
}
.mode {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 20px;
}

.mode label input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
}