* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url('../bg-2.jpeg');
  font-family: "Chakra Petch", sans-serif;
}

.auth-overlay .btn {
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: #01204E;
  padding: 12px 32px;
  font-size: 1.25rem;
  font-weight: bold;
  transition: 200ms;
}
.auth-overlay .btn:hover {
  transform: rotateZ(2deg);
}

.auth-overlay .btn::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  border: 3px dashed #FEAE6F;
}
.auth-overlay  .btn::after {
  content: '';
  position: absolute;
  background-color: #F6DCAC;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  z-index: -2;
  border-radius: 8px;
}

.input {
  position: relative;
  padding: 16px 24px;
  background-color: white;
  border-radius: 8px;
  font-size: 1rem;
  outline: 0;
  border: 4px solid #F6DCAC;
}

#main-canvas {
  background-image: url('../bg.jpeg');
}

#control-area ul {
  display: flex;
  gap: 20px
}
#control-area ul li {
  flex: 1;
  background: aliceblue;
}
#control-area h4 {
  font-size: 1rem;
  padding: 8px 16px;
  color: white;
  background: forestgreen;
  margin: 0;
  text-align: center;
}

.hidden {
  display: none !important;
}

#main-canvas {
  width: 100% !important;
  aspect-ratio: 3 / 2;
}
.target-info {
  flex: 1;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.target-info p {
  font-size: 1rem;
}
.target-info ul {
  font-size: 1rem;
  padding-left: 1rem;
}
.target-info li {
  font-size: 1rem;
}

.target-control {
  margin-top: auto;
  display: flex;
  gap: 12px;
}

.myBtn {
  margin: 0 auto;
}

#btn-remove-it {
  display: none;
}