.tank-holder {
  background-image: url('/assets/holders/tank-holder.png');
  aspect-ratio: 1915 / 2033;
  width: 764px;
  background-size: contain;
  padding: 200px 40px 0px;
  background-repeat: no-repeat;
}