.holder {
  @apply w-[160px] 2xl:w-[200px] 2xl:pl-[60px];
  aspect-ratio: 285 / 112;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: 200px;
}

.holder p {
  @apply text-lg 2xl:text-2xl pl-[40px] 2xl:pl-0 pb-[14px] 2xl:pb-[18px];
  flex: 1;
  text-align: center;
  font-weight: bold;
  @apply italic;
}

.money-holder {
  background-image: url('/assets/holders/money-holder.png');
}
.bug-holder {
  background-image: url('/assets/holders/bug-holder.png');
}
.flower-holder {
  background-image: url('/assets/holders/flower-holder.png');
}

@media screen and (max-height: 768px) {
  .holder {
    background-size: 160px;;
  }
}