button.btn {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: darkgreen;
  --button_padding: 0.35rem 1rem;
  --button_font_size: 1rem;
  font-size: var(--button_font_size);
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}
button.btn.btn-big {
  --button_padding: 0.75rem 1.5rem;
  --button_font_size: 1.25rem;
}

.btn--top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: var(--button_padding);
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button.btn:hover .btn--top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button.btn:active .btn--top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}